{% extends 'base.html' %}

{% block title %} Details - {{ student }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card text-center">
                    <div class="card-header">
                        View details
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ student }}</h5>
                        <p class="card-text"><strong>Email: </strong>{{ student.email }}</p>
                        <p class="card-text"><strong>Age: </strong>{{ student.age }}</p>
                        <a href="{% url 'list-students' %}" class="btn btn-primary">Back</a>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Created at: {{ student.created_at|date:'d-m-Y H:i:s' }}/Updated at: {{ student.updated_at|date:'d-m-Y H:i:s' }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}