{% extends 'base.html' %}

{% block title %}
    List of movies
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <table class="table table-primary table-striped">
                    <thead>
                    <tr>
                        <th>Name of the movie</th>
                        <th>Type</th>
                        <th>Year</th>
                        <th>Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movie in movies %}
                        <tr>
                            <td>{{ movie.name }}</td>
                            <td>{{ movie.type }}</td>
                            <td>{{ movie.year }}</td>
                            <td>{{ movie.rating }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'list_cars' %}">Go to list of cars</a>
            </div>
        </div>
    </div>
{% endblock %}